# --- Extensiones de sistema ---
.DS_Store
Thumbs.db

# --- Julia ---
# Ignorar archivos de compilación y entorno si no son necesarios
*.jl.cov
*.jl.mem

# --- R Language ---
.Rhistory
.RData
.Ruserdata

# --- Python ---
__pycache__/
*.py[cod]
venv/

# --- Datos y SQL ---
# Ignorar bases de datos locales pesadas
*.sqlite
*.sql
*.csv
*.xlsx

# --- Editores ---
.vscode/
.idea/
